page-dashboard {

    .bottom-item
        {
        position: fixed;
        bottom: 0;
        margin-bottom: 10px;
        text-align: end !important;
         } 

         .hov-button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
          }
          
          .hov-button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .hov-button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
          
          .hov-button:hover span {
            padding-right: 25px;
          }
          
          .hov-button:hover span:after {
            opacity: 1;
            right: 0;
          }     


          .button-lfg {
            display: inline-block;
            padding: 15px 25px;
            font-size: 17px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #fff;
            border: 7px solid white;
            box-shadow: 0 4px #131616;
          }
          
         // .button-lfg:hover {}
          
          .button-lfg:active {
            box-shadow: 0 2px rgb(252, 252, 252);
            transform: translateY(4px);
          }
}
