
<ion-header>

  <ion-navbar color="secondary">
    <ion-title text-center>Body Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="currentUser">
<span *ngFor="let ubp of userPhyProfileList$ | async">

<div *ngIf="authServ.getUID() == ubp.authKey">
    <ion-list>
    <ion-item *ngIf="ubp.gender=='m'">
        <ion-label color="primary">Gender</ion-label>
        <ion-input class="placeholder-color" placeholder="Male" [disabled]="true"></ion-input>
     </ion-item>   
     <ion-item *ngIf="ubp.gender=='f'">
        <ion-label>Gender</ion-label>
        <ion-input class="placeholder-color" placeholder="Female" [disabled]="true"></ion-input>
     </ion-item>

      <ion-item>
          <ion-label color="primary" style="margin-right:30px">Age</ion-label>
          <ion-input type="number" placeholder="{{ubp.age}} years" [(ngModel)]="proData.age"></ion-input>
        </ion-item> 
        <span [hidden]="(proData.age < 120 && proData.age > 0) || !proData.age" style="color:red;margin-left: 15px">*age not acceptable</span>

  <ion-item>
    <ion-label color="primary">Weight</ion-label>
    <ion-input type="number" placeholder="{{ubp.weight}}" [(ngModel)]="proData.weight"></ion-input>
    <ion-select placeholder="{{ubp.weightUnit}}" [(ngModel)]="proData.weightUnit" interface="popover">
      <ion-option value="kg">kg</ion-option>
      <!-- <ion-option value="lb">lb</ion-option> -->
    </ion-select>
  </ion-item>
  <span [hidden]="(proData.weight < 600 && proData.weight > 0) || !proData.weight" style="color:red;margin-left: 15px">*weight not acceptable</span>


  <ion-item>
    <ion-label color="primary">Height</ion-label>
    <ion-input type="number" placeholder="{{ubp.height}}" [(ngModel)]="proData.height"></ion-input>
    <ion-select placeholder="{{ubp.heightUnit}}" [(ngModel)]="proData.heightUnit" interface="popover">
      <ion-option value="cm">cm</ion-option>
    </ion-select>
    </ion-item>
    <span [hidden]="(proData.height < 243 && proData.height > 10) || !proData.height" style="color:red;margin-left: 15px">*height not acceptable</span>

  <ion-item>
      <ion-label color="primary">How active are you?</ion-label>
      <ion-select placeholder="{{ubp.aFactor}}" [(ngModel)]="proData.aFactor" interface="popover">
          <ion-option value="sedentary">sedentary(no activity)</ion-option>
        <ion-option value="light">light(1-2 days/week)</ion-option>
        <ion-option value="moderate">moderate(3-5 days/week)</ion-option>
        <ion-option value="very active">very active(daily)</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label color="primary">I want to</ion-label>
        <ion-select placeholder="{{ubp.mode}}" [(ngModel)]="proData.mode" interface="popover">
            <ion-option value="loose weight"> loose weight</ion-option>
          <ion-option value="maintain weight"> maintain weight</ion-option>
          <ion-option value="gain weight"> gain weight</ion-option>
        </ion-select>
      </ion-item>

  <button ion-button block color="primary" [disabled]="(proData.height && (proData.height > 243 || proData.height < 10)) || (proData.weight && (proData.weight > 600 || proData.weight < 1)) || (proData.age && (proData.age > 120 || proData.age < 1))" style="text-transform:none;margin-top: 30px" (click)="editPHYProfile(ubp)">Save</button>
  

</ion-list>

</div>
</span>

</ion-content>
