page-breakfast-selection {

    .my-button
{
    background: rgb(5, 183, 238);
    font-size: 15px;
    color: white;
}

 .my-head
 {
     font-size: 20px;
     color: rgb(0, 0, 0);
 }


 .circle-pic
 {
    width:75px;
    height:80px;
    -webkit-border-radius: 50%;
    border-radius: 50% !important;
}

}
