page-meal-type-selection {

    .square {
        width: 100% !important;
        height:0 !important;
        padding: 50% 0 50% 0 !important;
        background-color : rgb(5, 183, 238);
        }

        .gg 
        {
            //margin-top: 50px;
            padding-left: 0px;
        }
        .gg ion-col
        {
            padding: 0.5px
        }

        .gg .top-bot-mar
        {
            margin-top: -7px !important;
            margin-bottom: -7px !important;
        }

        .bottom-item
        {
        position: fixed;
        bottom: 0;
        margin-bottom: 10px;
        //text-align: center !important;
         } 
}
